<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	
	<add key="APIKey" value="adcb4071-4c7a-42d2-8023-574d1aef1545" />
	<add key="SortField" value="market_cap" />
	<add key="SortDirection" value="desc" />

  <add key="UrlCryptoCurrencyList" value="https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest" />
	<add key="UrlCryptoCurrencyInfo" value="https://pro-api.coinmarketcap.com/v1/cryptocurrency/info" />
</appSettings>
  
