@model Web.Models.StatusViewModel

@{
    ViewBag.Title = "Error";
}

<div class="form-group">
    <label>Error code:</label>@Model.ErrorCode<br />
    <label>Error message:</label>@Model.ErrorMessage<br />
    @DateTime.Now
</div>

